{% extends 'busticket/base.html' %}

{% block title %}Reservations and Tickets{% endblock %}

{% block content %}
<div class="col-md-12">
    <h4>Reservations and Tickets</h4><span></span>  
    <form method="POST" class="post-form" action="/reservationsandtickets/">  
        {% csrf_token %}  
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>  
    </form>  
        <div class="table-responsive">
  <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th>Bus Company</th>
                <th>From City</th>
                <th>To City</th>
                <th>Trip Date</th>
                <th>Passenger</th>
                <th>Seat No</th>
                <th>Transaction Time</th>
                <th>Transaction Amount</th>
                <th>External Payment Id</th>
             </thead>
   <tbody>
   {% for reservation in ticket_list %}  
    <tr>  
     <td>{{ reservation.trip.bus_company }}</td>  
     <td>{{ reservation.trip.from_city }}</td>  
     <td>{{ reservation.trip.to_city }}</td>  
     <td>{{ reservation.trip.trip_date }}</td>  
     <td>{{ reservation.passenger }}</td>  
     <td>{{ reservation.seat_no }}</td>  
     <td>{{ reservation.transaction.transaction_date }}</td>  
     <td>{{ reservation.transaction.charged_value }}</td>  
     <td>{{ reservation.transaction.payment_intent }}</td>  
    </tr>  
   {% endfor %} 
   </tbody>
         
  </table>
        </div>
    </div>
{% endblock content %}

